- var selected = "main-nav__item--selected"

mixin main-nav
	nav.main-nav
		a(href="#target").main-nav__open-btn
			svg.main-nav__open-icon(width="30")
				use(xlink:href="#icon-menu")
		a.main-nav__open-target(id="target")
		.main-nav__list-wrapper
			ul.main-nav__list
				li
					a(href="#0").main-nav__close-btn
						svg.main-nav__close-icon(width="30")
							use(xlink:href="#icon-close")
				li.main-nav__item(class=attributes.mainPage)
					a.main-nav__link(href= mainPage) macOS на ПК 
				li.main-nav__item(class=attributes.installVm)
					a.main-nav__link(href= installVm ) macOS на VMWare
				li.main-nav__item(class="main-nav__item" class=attributes.startServices)
					a.main-nav__link(href= startServices) Запуск iCloud &amp; AppStore
				li.main-nav__item(class="main-nav__item" class=attributes.startSound)
					a.main-nav__link(href= startSound) Запуск звука
				li.main-nav__item.main-nav__item--popup(class=attributes.pageA0)
					a.main-nav__link Разное
						svg.main-nav__icon(width="30")
							use(xlink:href="#icon-arrow_down")
					ul.main-nav__nested-list
						li.main-nav__item(class=attributes.installKexts)
							a.main-nav__link(href= installKexts) Установка кекстов
						li.main-nav__item(class=attributes.mountEfi)
							a.main-nav__link(href= mountEfi) Монтирование EFI
									