mixin respImg(src, width)
  - const src1 = `${src} ${width}w`
  - const src2 = `${src.replace(/(\.[\w]+)/, "@1\.5x$1")} ${Math.round(width * 1.5)}w`
  - const src3 = `${src.replace(/(\.[\w]+)/, "@2x$1")} ${Math.round(width * 2)}w`

  img(srcset = `${src1}, ${src2}, ${src3}`, src = src)&attributes(attributes)

mixin svg(id)
  svg(width="30")&attributes(attributes)
    use(href=`images/icons.svg${id}`)
