//- ==========================================================================
//- Headings
//- ==========================================================================

- var j = 0

mixin h2
  h2.article__h2(id = (j + 1))
    a.article__anchor.link.link--anchor(href= "#" + (j + 1)) ยง
    | #{itemList[j++]}

mixin h3
  h3.article__h3
    if block
    block

//- ==========================================================================
//- Links
//- ==========================================================================

mixin link(href, text, modifier)
  case modifier
    default
      a.link.link--article(href= href )!= text
    when "note"
      a.link.link--note(href= href )!= text

//- ==========================================================================
//- Misc
//- ==========================================================================

mixin p
  p.article__par
    if block
    block

mixin ol
  ol.article__ordered-list(start= attributes.start)
    if block
    block

mixin ul
  ul.article__marked-list
    if block
    block

mixin li
  li.article__list-item
    if block
    block

mixin code(string)
  code.article__code!= string

mixin svg(className, id)
  svg(class= className width= "30")
    use(xlink:href="#" + id)

//- ==========================================================================
//- Tooltips
//- ==========================================================================

mixin tooltip(title, text, hasAbbr)
  case hasAbbr
    default
      span.article__tooltip.js-tooltip(title!= title)= text
    when "abbr"
      abbr.article__tooltip.js-tooltip(title!= title)= text

//- ==========================================================================
//- Images
//- ==========================================================================

mixin img(width)
  - original = src.replace(/(\.[\w\d_-]+)$/i, "_original$1")

  case width
    default
      a.article__img-link.js-lightbox(href= original)
        div
          img.article__img(
            src = src
            alt = alt)
    when "small"
      div.article__img-link
        img.article__img(
          src = src
          alt = alt)

mixin figure(width)
  - original = src.replace(/(\.[\w\d_-]+)$/i, "_original$1")

  case width
    default
      figure.article__figure
        a.article__img-link.js-lightbox(href= original)
          img.article__img.article__img--figure(
            src = src
            alt = alt)
        figcaption.article__figcaption
          if block
          block
    when "small"
      figure.article__figure
        img.article__img.article__img--figure(
          src = src
          alt = alt)
        figcaption.article__figcaption
          if block
          block

mixin respImg
  - var src1 = src + " " + size + "w"
  - var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@large$1") + " " + size * 1.5 + "w"
  - var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@huge$1") + " " + size * 2 + "w"

  img(class  = imgClass
    srcset = src1 + ", " + src2 + ", " + src3
    sizes  = size / 16 + "rem"
    src	   = src
    alt	   = "")

mixin respImgSource
  - var src1 = src + " " + size + "w"
  - var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@large$1") + " " + size * 1.5 + "w"
  - var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@huge$1") + " " + size * 2 + "w"

  source(
    media  = media
    srcset = src1 + ", " + src2 + ", " + src3
    sizes  = size / 16 + "rem")