//- Top Menu///////////////////////////////////

- var inactive = 'main-nav__item--inactive';
- var selected = 'main-nav__item--selected';

mixin main-nav 
	nav.main-nav 
		ul.main-nav__list
			li.main-nav__item(class=attributes.mainguide)
				a.main-nav__link(href='index.html') Руководство
			li.main-nav__item(class=attributes.vmware)
				a.main-nav__link(href='vmware.html') Настройка VMWare
			li.main-nav__item(class=attributes.solutions)
				a.main-nav__link(href='solutions.html') Решение проблем
			li.main-nav__item.main-nav__item--popup(class=attributes.others)
				a.main-nav__link Разное
				.main-nav__wrapper
					ul.main-nav__list
						li.main-nav__item(class=attributes.separateinstall)
							a.main-nav__link(href='separate-install.html') Установка на отдельный раздел
			li.main-nav__item(class= 'main-nav__item--inactive' class=attributes.services)
				a.main-nav__link Завод iCloud и AppStore
			li.main-nav__item(class= 'main-nav__item--inactive' class=attributes.sound)
				a.main-nav__link Завод звука 
				
//-///////////////////////////////////////////////