mixin share(footer)
  aside.aside.share(class= attributes.appendClass data-target="sidebar")
    h2.aside__headline.share__headline Поделиться
    .share__container

      a.share__btn.share__btn--vk( 
        href="https://vk.com/share.php?url=" + domain
        data-toggle="share"
        title="Вконтакте"
      )
        +svg("#vk")(class="share__icon")

      a.share__btn.share__btn--twitter(
        href="https://twitter.com/intent/tweet?url=" + domain
        data-toggle="share"
        title="Twitter"
      )
        +svg("#twitter")(class="share__icon")

      a.share__btn.share__btn--fb(
        href="https://www.facebook.com/sharer/sharer.php?u=" + domain
        data-toggle="share"
        title="Facebook"
      )
        +svg("#facebook")(class="share__icon")

      case footer
        when false
          button.share__btn.share__btn--url.js-copy-toggle(
            data-toggle="copyUrl"
            data-target="#copy"
            title="Скопировать ссылку"
          )
            +svg("#link-solid")(class="share__icon")

    case footer
      when false
        .share__output-wrapper(id="copy")
          input.share__output-field(data-target="copyUrl")