doctype html
include /pug/mixins/*
include /pug/variables
include /blocks/**/*

//-
//- <html> tag is deliberately omitted.
//- Info here: google.github.io/styleguide/htmlcssguide.html#Optional_Tags
//-

block page
  head
    block head
      meta(charset="utf-8")
      title= pageTitle
      meta(name="description" content= pageDesc)

      // inject:critical:css 
      // endinject

      // build:css css/styles.min.css rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      link(href="css/normalize.css" rel="stylesheet")
      link(href="css/main.css" rel="stylesheet")
      // endbuild 

      // inject:fg-loadcss:html 
      // endinject 

      // inject-string:noscript

      meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

      meta(property="og:title" content= pageTitle)
      meta(property="og:description" content= pageDesc)
      meta(property="og:type" content="article")
      meta(property="og:image" content= domainName + metaImage.src)
      meta(property="og:image:width" content= metaImage.width)
      meta(property="og:image:height" content= metaImage.height)
      meta(property="og:url" content= domainName)
      meta(property="og:site_name" content="macOS+ | Лис подскажет")

      link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
      link(rel="manifest" href="manifest.json")
      link(rel="shortcut icon" href="favicon.ico")
      meta(name="apple-mobile-web-app-title" content="macOS+ | Лис подскажет")
      meta(name="application-name" content="macOS+ | Лис подскажет")
      meta(name="msapplication-config" content="browserconfig.xml")
      meta(name="theme-color" content="#455a64")

      //- Google Tag BEGIN
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-100340915-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-100340915-1');
      //- Google Tag END

  body.page(lang="ru")
    <!--[if lte IE 9]>
    <p class="page__outdated">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите свой браузер</a>, чтобы улучшить отображение сайта.</p>
    <![endif]-->

    <noscript> Для полной функциональности этого сайта необходимо включить JavaScript. Вот <a href="https://www.enable-javascript.com/ru/" target="_blank"> инструкции, как включить JavaScript в вашем браузере</a>.
    </noscript>

    // inject:svg 
    // endinject

    +header
      block nav
        +nav

    .page__container
      block containerInner
        article.article
          block articleHeader
            +articleHeader
          
          .article__content
            block content

          +pageNav("mobile")
          +vote

      block sidebar
        +sidebar
    
    +footer
    +scrollButton
    +lightbox

    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer)

      // build:js js/global.min.js defer
      script(src="js/moment.min.js")
      script(src="js/ru.js")
      script(src="js/main.js" defer)
      // endbuild 

      //- LikeBtn
      script.
        (function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","https://w.likebtn.com/js/w/widget.js");

      // build:remove 
      script(src="js/_viewport.js" defer) 
      // endbuild 

    block structuredData
      mixin structuredData
        mixin structuredDataMarkup
          script(type="application/ld+json"). 
            {
            "@context": "http://schema.org",
            "@type": "TechArticle",
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "#{domainName}#{pageLink}"
            },
            "headline": "#{pageTitle}",
            "image": "#{domainName}#{metaImage.src}",
            "datePublished": "#{datePublished[2]}-#{datePublished[1]}-#{datePublished[0]}",
            "dateModified": "#{dateModifiedString}",
            "author": {
              "@type": "Person",
              "name": "Daur Gamisonia",
              "alternateName": "BroFox",
              "email": "daurgam@gmail.com",
              "url": [
                        "https://vk.com/id335661231",
                        "https://plus.google.com/+DaurGamisoniya",
                        "http://steamcommunity.com/id/daurfox/"
                      ]
            },
            "publisher": {
              "@type": "Organization",
              "name": "macOS Plus",
              "logo": {
                "@type": "ImageObject",
                "url": "#{domainName}images/logo.jpg"
              }
            },
            "description": "#{pageDesc}"
            }

        case isDateModified
          default
            - var dateModifiedString = ""
            +structuredDataMarkup

          when true
            - var dateModifiedString = dateModified[2] + "-" + dateModified[1] + "-" + dateModified[0]
            +structuredDataMarkup

      +structuredData